extends layout 

block content 
    .wrapper
        .form-title Login Form
        form(action='/login', method='POST')
            .input-field
                input(type='text', name='username', required='')
                label Username
            .input-field
                input(type='password', name='password' required='')
                label Password
            .forgot-password
                a(href='#') Forgot password?
            .input-field
                input(type='submit' value='Login')
            .register-link
                a(href='/register') Register now